@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    height: 60px;
    width: 100 ;
}

.enlaces{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    float: medium;
    height: 120px;
    margin-bottom: 50px;
    margin-left: 250px;
}
 
header ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     float: left;
     margin-right: 50px;
     margin-bottom: 100px;
     margin-top: 20px;
}
header ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}
header nav ul li{
    color: red;
    font-size: 18px;
    padding: 9px 20px;
    border-radius: 3px;
    text-transform: uppercase;

}

li a.active, li a:hover{
    background: yellow;
    transition: .5s;
}
 
nav .hamburger
.checkbtn{
    color: black;
}
.search-icon{
    float: right;
    padding: 010px 30px ;
    margin: 20px 20px 1000px -20px;
    font-size: 9px;
    border-radius: 1px;
    text-transform: uppercase;
}
.boton{

    float: right;
    padding: 010px 20px 10px;
    margin: 20px 20px -20px -20px;
    font-size: 9px;
    border-radius: 1px;
}


.footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
    padding: 70px 0px ;
}
.row{
    display: flex;
    flex-wrap: ;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
 font-size: 18px;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 3px;
 position: relative;
}


.container{
    max-width: 1170px;

    margin: auto
}
ul{ 
    list-style: none;
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}

